<% current_user.boards.each do |board| %>
  <h2>Name >>> <%=board.name%></h2>
  <h2>Size >>><%=board.size%></h2>
  <h2>Price per day >>><%=board.price_per_day%></h2>
  <h2>Description >>><%=board.description%></h2>
  <h2>Address >>><%=board.address%></h2>
  <h2>City >>><%=board.city%></h2>
  <h2>Country >>><%=board.country%></h2>
  <h2>Automatic Reservation >>><%=board.automatic_reservation%></h2>
<% end %>



