<div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h1>Book this board :</h1>
        <h2><%= @board.name %></h2>
        <p><%= @board.address %></p>
        <p><%= @board.price_per_day %>€/day</p>
        <p><%= @board.automatic_reservation %></p>

      <%= simple_form_for([@board, @reservation]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit %>
      <% end %>
      </div>
   </div>
</div>


