<div class="banner" style="background-image: url('http://image3.redbull.com/rbcom/010/2015-04-29/1331720022267_2/0010/1/1500/1000/2/justine-dupont-surf-big-wave-action-image.jpg');">
  <div class="banner-content">
    <h1>Boards everywhere, free as a bird</h1>
  </div>
  <div class="banner-search_bar">
    <%= simple_form_for :search, url: boards_path, method: :get, html: { class: "form-inline" } do |f| %>
      <%= f.input :address, label: false, placeholder: "Enter a city" %>
      <%= f.button :submit, "Search" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @boards.each do |board| %>
      <%= link_to board_path(board) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card card-link" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('logo.png');">
            <div class="card-description">
              <%= board.name %>
              <%= board.address %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


